<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>OPPO订单页面</title>
		<include file="__VIEW__/Common/header.html"/>
		<script language="javascript" src="__STATIC__/address.js"></script>
		<script src="__STATIC__/hdjs/hdjs.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__STATIC__/hdjs/hdjs.css"/>
		<script type="text/javascript">
			 	var s=["s1","s2","s3"];
				var opt0 = ["请选择省","请选择市","请选择县（区）"];
				function setup(){
				 for(i=0;i<s.length-1;i++)
				  document.getElementById(s[i]).onclick=new Function("change("+(i+1)+")");
				 change(0);
				}
				window.onload=function(){
				setup()	
					
				};
				$(function(){
					
					$('.dj').live('click',function(){
						var dj = $('#s1').val() + '省,' + $('#s2').val() + '市,' + $('#s3').val();
						alert(dj);	
					})
				})
				
				$(function(){
					$('#add').validate({
						names : {
							rule : {
								required : true,
								minlen:2
							},
							error :{
								required : '收货人姓名必须填写',
								minlen:'用户名不得少于2位'
							},
							success:'ok',
							message:'请填写收货人姓名'
						},
						phone : {
							rule : {
								required : true,
								minlen:2,
								phone:true
							},
							error :{
								required : '收货人手机必须填写',
								minlen:'用户名不得少于2位',
								phone:'手机格式不正确'
							},
							success:'ok',
							message:'请填写收货人手机'
						},
						xiangxi : {
							rule : {
								required : true,
								minlen:3
							},
							error :{
								required : '详细地址必须填写',
								minlen:'用户名不得少于3位'
							},
							success:'ok',
							message:'请填写详细地址街道'
						},
					})
				})
				//点击显示添加地址
				$(function(){
					$('.tianjiadizhi').click(function(){
						$('.dizhi').show();
					})
				})
				//点击触发提交订单的单击事件
				$(function(){
					$('.sub').click(function(){
						$('.dingdan').click();
					})
				})
				
				
		</script>
		<!--cart中间部份开始-->
		<div class="cart_box">
			<div class="cart1">
				<a href="{|U:'Index/index'}">首页</a>&nbsp<i>/</i>&nbsp<span>购物车结算</span>&nbsp<i>/</i>&nbsp<span>填写订单</span>
			</div>
			<ul class="cart1_ul">
				<li style="background: #fff; border-bottom: 4px solid #F5A146;">购物车</li>
				<li style="background: #fff; border-bottom: 4px solid #F5A146;">填写订单</li>
				<li>支付</li>
			</ul>
			<div class="trade2_box">
				<div class="trade2_con">
					<div class="trade2_con1">
						<h4>选择配送方式:</h4>
						<span class="song">我们默认首选顺丰快递，如收货地址顺丰快递不能送达，我们会更改为EMS快递为您配送。 </span>
					</div>
					<form  action="{|U:'Trade/sub'}" method="post">
					<foreach from="$addata" key="$k" value="$v">
					<div class="adress">
						<input type="radio" name="id" checked="checked" id="" value="{$v.id}" />
						<div class="adress_con">
							<h4>{$v.names}</h4>
							<span>{$v.phone}</span><br />
							<span>{$v.adress}</span>
						</div>
						<a class="del" href="{|U:'Trade/del',array('id'=>$v['id'])}">X</a>
					</div>	
					</foreach>
					<foreach from="$catedata['goods']" key="$k" value="$v">
					<input type="hidden" name="sid[]" id="sid" value="{$k}" />
					</foreach>
					<input type="submit" class="dingdan" name="" style="display: none;"/>
					</form>
					<div class="trade2_con2">
						<a class="tianjiadizhi" href="javascript:;">添加新地址</a>
					</div>
					<div class="dizhi">
						<form id="add" action="{|U:'add'}" method="post">
							<span>*收货人姓名</span><br />
							<input name="names" type="text" id="" placeholder="请填写收货人姓名" /><br />
							<span>*手机号码</span><br />
							<input name="phone" type="text" id="" placeholder="请填写手机号" /><br />
							<span>*收货人地址</span><br />
							<select id="s1" name="province">
								<option>省份</option>
							</select>
							<select id="s2" name="city">
								<option>地级市</option>
							</select>
							<select id="s3" name="county">
								<option>市、县级市、县</option>
							</select><br />
							<input type="text" name="xiangxi" class="xiangxi" id="" placeholder="请填写详细街道" style="margin-top: 8px;"/><br />
							<span>电子邮箱</span><br />
							<input type="text" name="email" id="" placeholder="请填写邮箱" /><br />
							<input class="tijiao" name="tijiao" type="submit" value="添加地址"/ style="margin-top: 10px;">
						</form>
					</div>
					<div class="trade2_con3">
						<a href="">返回</a>
					</div>
				</div>
			</div>
			
			<div class="trade_right">
				<ul>
					<li>商品数量:<span>{$catedata.total_rows}</span></li>
					<li>总价:<span>￥{$catedata.total}.00</span></li>
				</ul>
				
				<ul>
					<li>邮费:<span>+￥0.00</span></li>
					<li>手续费:<span>+￥0.00</span></li>
					<li>优惠:<span>-￥0.00</span></li>
				</ul>
				
				<div class="zongji">
					<h4 class="xiaojil">小计：</h4>
					<h4 class="xiaojir"> ￥{$catedata.total}.00</h4>
					<a href="javascript:;" class="sub">确定</a>
				</div>
				
			</div>
		</div>
		<include file="__VIEW__/Common/footer.html"/>
	</body>
</html>
