<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人中心-首页</title>
		<include file="__VIEW__/Common/header.html"/>
		<!--子导航开始-->
		<div class="subnav">
			<a href="{|U:'Index/index'}">首页</a>&nbsp<i>/</i>&nbsp
			<span>我的OPPO</span>
		</div>
		<!--子导航结束-->
		<!--个人中心内容开始-->
		<div class="user_cont">
			<div class="user_cont1">
				<h2>个人首页</h2>
				<ul>
					<li><a href="{|U:'Index/User/index'}" style="color: #393939;border-bottom: 2px solid #2AAD6F;">个人首页</a></li>
					<li><a href="{|U:'Index/User/porfile'}">账户信息</a></li>
					<li><a href="{|U:'Index/User/orders'}">我的订单</a></li>
					<li><a href="{|U:'Index/User/addresses'}">配送地址</a></li>
				</ul>
			</div>
			<div class="user_cont2">
				<?php if(!$order){ ?>
				<!--暂无更新-->
				<div class="user_cont2_1">
					<h3>您的最新动态</h3>
					<span>暂无更新</span>
				</div>
				<?php }else{ ?>
				<!--有更新-->
				<div class="user_cont2_2">
					<h3>您的最新动态</h3>
					<foreach from="$order" key="$k" value="$v">
					<div class="dongtai">
						<img src="__PUBLIC__/images/gouwuche.png" alt="" />
						<div class="dongtai_cont">
							<h4>最新订单</h4>
							<div class="dongtai_cont1">
								<img src="__ROOT__/{$v.lest_img}" alt="" />
								<a href="`">{$v.gname}</a><br />
								<span>订单状态:<if value="$v['status']==0">未付款</if>
									<if value="$v['status']==1">已付款</if>
									<if value="$v['status']==2">已发货</if>
									<if value="$v['status']==3">已收货 交易完成</if>
								</span>
								<p class="time">{$v.add_time|date:'Y-m-d H:i:s',@@}</p>
							</div>
						</div>
					</div>
					</foreach>	
				</div>
				<?php } ?>
			</div>
			<div class="user_right">
				<div class="user_right_top">
					<img src="__PUBLIC__/images/tuxiang.jpg" alt="" />
				</div>
				<p>{$_SESSION['uname']}</p>
				<div class="user_right_bottom">
					<img src="__PUBLIC__/images/user1.jpg" alt="" />
				</div>
			</div>
		</div>
		<!--个人中心内容结束-->
		<include file="__VIEW__/Common/footer.html"/>
	</body>
</html>
